.Hero-header {
    position: relative;
    padding: 10px;
    z-index: 10;
}

.Hero-header h1 {
    margin: 0;
    font-size: 3.5em;
    color: #ffd700;  
    font-family: 'Dancing Script', cursive;    
}

.Hero-header p {
    max-height: 50px;
    font-size: 1.5em;    
    margin: 0;
    letter-spacing: 1.5px;    
}