.HeroLayout {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 90vh;
    height: 90vh;
    max-width: 100%;
    padding: 10px;
    background-color: #000;
    font-family: 'Advent Pro', sans-serif;    
}
@media (max-width: 767px) {
    .HeroLayout {
        max-height: none;  
        height: auto;      
    }
}
@media (max-width: 450px) {
    .HeroLayout {
        height: 90vh;       
    }
}

.Hero-wrapper {
    display: flex;
    max-width: 100vw;
    overflow: hidden;
}

@media (max-width: 450px) {
    .Hero-wrapper {
        display: block;
    }
}

.Hero-dores {
    max-height: 100%;
    width: 30%;    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    overflow: hidden;    
}

@media (max-width: 450px) {
    .Hero-dores {
        width: auto;
    }
}

.Hero-dores:hover {
    transform: rotateY(180deg);  
}

.Hero-dores1 {
    background-image: url("./assets/images/brushstroke_01.png");
}

.Hero-dores1:hover {
    background-size: 75%;
    background-position: left;
}

.Hero-dores2 {
    background-image: url("./assets/images/brushstroke_02.png");
}

.Hero-dores2:hover {
    background-repeat: repeat; 
}

.Hero-dores3 {
    background-image: url("./assets/images/brushstroke_03.png");
}

.Hero-dores-image {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}