.Hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    height: 80vh;
    max-width: 100%;
    border: 1px solid red;
}

.Hero-wrapper {
    max-height: 100%;
}

.Hero-dores1,
.Hero-dores2,
.Hero-dores3 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.Hero-dores1-image,
.Hero-dores2-image,
.Hero-dores3-image {
    max-height: 100%;
    width: 30%;
}